.aboutComponent {
  height: 100vh;
  width: 100vw;
  font-family: var(--heading-font);
  transition: 0.5s;
}

.aboutDm {
  background-color: var(--dm-primary-bg-color);
}

.aboutLm {
  background-color: var(--lm-primary-bg-color);
}

.aboutContainer {
  /* border: 5px solid #ffff00; */

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 55%;
  width: 50%;

  display: flex;
}

.aboutText {
  /* background-color: red; */

  height: 100%;
  width: 60%;
}

.aboutImgContainer {
  /* background-color: blue; */
  height: 100%;
  width: 40%;
}

.aboutImg {
  /* background-color: red; */
  /* width: 100%; */
  height: 100%;
}

.aboutTxt1 {
  /* background-color: green; */
  width: 100%;
  height: auto;
  font-size: var(--heading1);
  font-weight: bold;
}

.aboutTxtDm{
  color: var(--dm-secondary-txt-color);
}

.aboutTxtLm{
  color: var(--lm-secondary-txt-color);
}

.aboutTxt2Dm {
  color: var(--dm-primary-txt-color);
}

.aboutTxt2Lm {
  color: var(--lm-primary-txt-color);
}

.nameMark:hover {
  cursor: pointer;
  user-select: none;
}

.highlightDm {
  background: transparent;
  color: var(--dm-secondary-txt-color);
}

.highlightLm {
  background: transparent;
  color: var(--lm-secondary-txt-color);
}

.aboutLink {
  transition: text-decoration-color 300ms;
}

.aboutLink:hover {
  cursor: pointer;
}

.aboutLinkDm {
  color: var(--dm-secondary-txt-color);
  text-decoration: underline 0.15em var(--dm-primary-bg-color);
}

.aboutLinkDm:hover {
  text-decoration-color: var(--dm-secondary-txt-color);
}

.aboutLinkLm {
  color: var(--lm-secondary-txt-color);
  text-decoration: underline 0.15em var(--lm-primary-bg-color);
}

.aboutLinkLm:hover {
  text-decoration-color: var(--lm-secondary-txt-color);
}