.aboutComponent {
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  background-color: var(--primary-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.aboutTxtEng {
  font-family: var(--heading-font);
}

.aboutTxtTh {
  font-family: var(--thai-font);
}

.aboutTxtHeader:hover {
  cursor: pointer;
  user-select: none;
}

.socialSubsection {
  height: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
  
.socialBlock:hover {
  cursor: pointer;
  scale: 1.1;
  outline-offset: 3px;
}

.highlight {
  background: transparent;
  color: var(--quaternary-txt-color);
}

.aboutLink {
  color: var(--quaternary-txt-color);
  text-decoration: underline 0.15em var(--tertiary-bg-color);
  transition: text-decoration-color 300ms;
}

.aboutLink:hover {
  text-decoration-color: var(--quaternary-txt-color);
}

.icon {
  font-size: calc(3.5vh);
  color: white;
}

/* Desktop Resolution */
@media screen and (min-width: 1024px) {
  .aboutContainer {
    display: flex;
    position: relative;
    height: 70%;
    width: 70%;
    min-width: 900px;
  }
  
  .aboutTxtSection {
    background-color: var(--tertiary-bg-color);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutImg {
    border: 20px solid var(--quaternary-bg-color);
    height: auto;
    width: 40%;
    display: flex;
    object-fit: cover;
    object-position: 60% 0%;
  }
  
  .aboutTxtHeader {
    height: 10%;
    width: 100%;
    padding: 20px;
    display: flex;
    font-weight: bold;
    font-size: calc(18px + 1.8vw);
    color: var(--secondary-txt-color);
  }

  .aboutTxtBody {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    font-size: 2.5vh;
    font-family: var(--normal-font);
    color: var(--secondary-txt-color);
  }
  
  .socialSection {
    width: 100%;
    height: stretch;
    display: flex;
    align-items: center;
  }

  .socialBlock {
    background-color: var(--quinary-bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    text-decoration: none;
  }
}

/* For Tablet and Mobile Resolution */
@media screen and (max-width: 1024px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    height: 90%;
    width: 70%;
  }
  
  .aboutTxtSection {
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .aboutImg {
    border: 20px solid var(--quaternary-bg-color);
    display: flex;
  }
  
  .aboutTxtHeader {
    height: 15%;
    padding: 20px 20px 0px 20px;
    display: flex;
    font-weight: bold;
    font-size: 4.5vw;
    color: var(--secondary-txt-color);
  }

  .aboutTxtBody {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    font-size: 2.5vw;
    font-family: var(--normal-font);
    color: var(--secondary-txt-color);
  }
  
  .socialSection {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
  }

  .socialBlock {
    background-color: var(--quinary-bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
  }
}