.aboutComponent {
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  background-color: var(--primary-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.aboutTxtEng {
  font-family: var(--heading-font);
}

.aboutTxtTh {
  font-family: var(--thai-font);
}

.aboutTxtHeader:hover {
  cursor: pointer;
  user-select: none;
}

.socialSubsection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
  
.socialCircle:hover {
  cursor: pointer;
  scale: 1.1;
}

.socialCircle:hover > * {
  animation: hover-animation 4s infinite alternate linear;
}

@keyframes hover-animation {
  0% {
    color: #ee6055;
  }
  25% {
    color: #60d394;
  }
  50% {
    color: #aaf683;
  }
  75% {
    color: #ffd97d;
  }
  100% {
    color: #ff9b85;
  }
}

.highlight {
  background: transparent;
  color: var(--quaternary-txt-color);
}

.aboutLink {
  color: var(--quaternary-txt-color);
  text-decoration: underline 0.15em var(--tertiary-bg-color);
  transition: text-decoration-color 300ms;
}

.aboutLink:hover {
  text-decoration-color: var(--quaternary-txt-color);
}

.icon {
  font-size: calc(15px + 1.5vw);
  color: white;
}

/* Desktop Resolution */
@media screen and (min-width: 1024px) {
  .aboutContainer {
    display: flex;
    position: relative;
    height: 70vh;
    width: 70vw;
    min-width: 900px;
  }
  
  .aboutTxtSection {
    background-color: var(--tertiary-bg-color);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutImg {
    border: 20px solid var(--quaternary-bg-color);
    height: auto;
    width: 40%;
    display: flex;
    object-fit: cover;
    object-position: 60% 0%;
  }
  
  .aboutTxtHeader {
    height: 10%;
    width: 100%;
    padding: 20px;
    display: flex;
    font-weight: bold;
    font-size: calc(18px + 1.8vw);
    color: var(--secondary-txt-color);
  }

  .aboutTxtBody {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    font-size: 2.5vh;
    font-family: var(--normal-font);
    color: var(--secondary-txt-color);
  }
  
  .socialSection {
    width: 100%;
    height: stretch;
    display: flex;
    align-items: center;
  }

  .socialCircle {
    background-color: var(--quinary-bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 400px;
    text-decoration: none;
  }

  /* Edit this for 1024px */
  .popBtn {
    position: relative;
  }
  
  .popup {
    position: absolute;
    z-index: 1;
    top: calc(100% - 250px);
    left: calc(50% - 130px);
    padding: 8px;
    background-color: var(--quaternary-bg-color);
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    font-family: var(--heading-font);
  }
  
  .popup.show {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .popup {
    display: none;
  }
}

/* For Tablet and Mobile Resolution */
@media screen and (max-device-width: 1024px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    height: 90vh;
    width: 70vw;
  }
  
  .aboutTxtSection {
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .aboutImg {
    border: 20px solid var(--quaternary-bg-color);
    display: flex;
  }
  
  .aboutTxtHeader {
    height: 15%;
    padding: 20px 20px 0px 20px;
    display: flex;
    font-weight: bold;
    font-size: 4.5vw;
    color: var(--secondary-txt-color);
  }

  .aboutTxtBody {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    font-size: 2.5vw;
    font-family: var(--normal-font);
    color: var(--secondary-txt-color);
  }
  
  .socialSection {
    width: 100%;
    height: stretch;
    display: flex;
    align-items: center;
  }

  .socialCircle {
    background-color: var(--quinary-bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 400px;
    text-decoration: none;
  }
}