@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.appContainer {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

.mobileContainer {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}
