.navBarComponent {
  background-color: var(--primary-background-color);

  height: 6%;
  width: 100vw;

  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.9;
}

.navBarContainer {
  /* background-color: blue; */

  height: 50%;
  width: auto;

  top: 50%;
  transform: translate(0%, 50%);

  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.firstName {
  font-family: var(--primary-font);
  font-size: 20px;
  color: white;
  /* margin-right: 10px; */
}

.lastName {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--primary-text-color);
}

.navName:hover {
  cursor: pointer;
  user-select: none;
}

.navMenu {
  /* background-color: green; */
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.navBtn {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--primary-text-color);

  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

.navBtn:hover {
  text-decoration-color: var(--primary-text-color);
  cursor: pointer;
}
