.projectComponent {
  background-color: var(--dm-primary-bg-color);
  height: 100vh;
  width: 100vw;
}

.projectContainer {
  /* border: 5px solid #ffff00; */
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(60%, -45%);
  padding: 10px;
  height: auto;
  width: 90vw;
}

.projectHeader {
  /* background-color: red; */
  /* width: 100%; */
  /* margin: 0 5% 10px 5%; */
  margin-bottom: 10px;
}

.projectBody {
  /* background-color: blue; */

  left: 50%;
  transform: translate(-50%, 0%);

  /* width: auto; */
  height: auto;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projText1 {
  color: var(--dm-secondary-txt-color);
  font-family: var(--heading-font);
  font-size: var(--heading1);
  font-weight: bold;
  text-align: right;
}

.projText2 {
  color: var(--dm-primary-txt-color);
  font-family: var(--heading-font);
  font-size: var(--heading2);
  font-weight: bold;
  text-align: right;
}

.projectBody:hover > * {
  opacity: 0.3;
}

.projectBody {
  pointer-events: none;
}

.projectBody > * {
  pointer-events: auto;
}

.projectBody:hover > *:hover {
  opacity: 1;
}