.projCardComponent {
  /* border: 3px solid var(--secondary-bg-color); */

  height: 315px;
  width: 275px;
  margin: 10px;

  border-radius: 20px;
  position: relative;

  text-decoration: none;
  transition: 0.2s;
  background-color: var(--lm-quaternary-bg-color);
}

.projCardComponent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-top: 60px solid var(--lm-primary-bg-color);
  animation: gradientLm 4s infinite alternate linear;
}

@keyframes gradientDm {
  0% {
    border-top-color: #ee6055;
  }
  25% {
    border-top-color: #60d394;
  }
  50% {
    border-top-color: #aaf683;
  }
  75% {
    border-top-color: #ffd97d;
  }
  100% {
    border-top-color: #ff9b85;
  }
}

@keyframes gradientLm {
  0% {
    border-top-color: #a5b4b0;
  }
  25% {
    border-top-color: #87a89b;
  }
  50% {
    border-top-color: #c3ffec;
  }
  75% {
    border-top-color: #76b3bf;
  }
  100% {
    border-top-color: #d2ffd8;
  }
}

.projHeader {
  /* background-color: blue; */

  margin: 10px 20px 0px 20px;
  padding: 0px 0px 5px 0px;
  height: 60px;
  display: flex;
  position: relative;
}

.projBody {
  /* background-color: red; */

  z-index: 1;
  margin: 0px 20px 0px 20px;
  height: 210px;
  display: flex;
}

.projFooter {
  /* background-color: green; */

  z-index: 1;
  margin: 0px 20px 10px 20px;
  display: flex;
}

.projHeaderSect {
  display: flex;
  justify-content: center;
  position: absolute;
}


.projBodySect {
  display: flex;
  justify-content: center;
}

.projFooterSect {
  display: flex;
  justify-content: center;
}

.projTitle {
  align-self: center;
  font-family: var(--normal-font);
  font-size: 17px;
  /* font-weight: bold; */
  color: white;
}

.projDesc {
  font-family: var(--normal-font);
  font-size: 13px;
  color: var(--dm-primary-txt-color);
  position: relative;
  top: 20px;
}

.projTech {
  font-family: var(--normal-font);
  font-size: 12px;
  color: white;
  display: flex;
  gap: 12px;
}
