.projCardComponent {
  background-color: var(--secondary-bg-color);

  height: 315px;
  width: 275px;
  margin: 10px;
  
  border-radius: 20px;
  position: relative;
  
  text-decoration: none;
  transition: 0.2s;
}

.projCardComponent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 60px solid var(--primary-bg-color);
  border-left: 60px solid transparent;
  animation: gradient 4s infinite alternate linear;
}

@keyframes gradient {
  0% {
    border-top-color: #EE6055;
  }
  25% {
    border-top-color: #60D394;
  }
  50% {
    border-top-color: #AAF683; 
  }
  75% {
    border-top-color: #FFD97D;
  }
  100% {
    border-top-color: #FF9B85;
  }
}
.projHeader {
  /* background-color: blue; */

  margin: 10px 20px 0px 20px;
  padding: 0px 0px 5px 0px;
  height: 60px;
  display: flex;
  position: relative; 
}

.projBody {
  /* background-color: red; */

  z-index: 1;
  margin: 0px 20px 0px 20px;
  height: 210px;
  display: flex;
}

.projFooter {
  /* background-color: green; */

  z-index: 1;
  margin: 0px 20px 10px 20px;
  display: flex;
}

.projHeaderSect {
  display: flex;
  justify-content: center;
  position: absolute;
}


.projBodySect {
  display: flex;
  justify-content: center;
}

.projFooterSect {
  display: flex;
  justify-content: center;
}

.projTitle {
  align-self: center;
  font-family: var(--normal-font);
  font-size: 17px;
  /* font-weight: bold; */
  color: white;
}

.projDesc {
  font-family: var(--normal-font);
  font-size: 13px;
  color: var(--secondary-txt-color);
  position: relative; 
  top: 20px; 
}

.projTech {
  font-family: var(--normal-font);
  font-size: 12px;
  color: white;
  display: flex;
  gap: 12px;
}