.sideNavComponent {
  /* background-color: red; */
  background-color: var(--dm-primary-bg-color);

  position: absolute;
  z-index: 2;
  position: fixed;

  height: 100vh;
  width: 5%;
  left: 0px;
}

.sideNavContainer {
  /* background-color: yellow; */
  height: 90%;
  width: 50%;

  left: 50%;
  transform: translate(50%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  gap: 20px;
}

.iconType1 {
  font-size: 30px;
  fill: var(--dm-primary-txt-color);
}

.iconType1:hover {
  fill: var(--dm-secondary-txt-color);
  cursor: pointer;
}

.iconType2 {
  font-size: 30px;
  color: var(--dm-primary-txt-color);
  fill: transparent;
}

.iconType2:hover {
  color: var(--dm-secondary-txt-color);
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.sideBtn {
  background-color: transparent;
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}