.techComponent {
  height: auto;
  width: 100vw;
  transition: 0.5s;
  background: var(--primary-bg-color);
  position: relative;
  display: flex;
  justify-content: center;
}

.techContainer {
  /* border: 5px solid #ffff00; */

  position: relative;
  padding: 10px;
  height: 80%;
  width: 50%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techText1 {
  /* background-color: blue; */
  width: 100%;

  color: var(--dm-secondary-txt-color);
  font-family: var(--heading-font);
  font-size: var(--heading1);
  font-weight: bold;
  text-align: right;
  color: var(--secondary-txt-color);
}

.techText2 {
  /* background-color: green; */
  width: 100%;
  height: auto;
  font-size: var(--heading2);
  text-align: right;

  font-family: var(--heading-font);
  color: var(--secondary-txt-color);
}

.techTable {
  /* background-color: yellow; */
  width: 100%;
  height: 65%;
  margin-top: 10px;
}

.techImg {
  width: 40%;
}