@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --dm-primary-bg-color: #2f3335;
  --dm-secondary-bg-color: #686f72;

  --dm-primary-txt-color: #ffffff;
  --dm-secondary-txt-color: #81ecec;

  --lm-primary-bg-color: #d5dee2;
  --lm-secondary-bg-color: #535758;

  --lm-primary-txt-color: #000000;
  --lm-secondary-txt-color: #167979;

  --heading-font: "Poppins", sans-serif;
  --normal-font: "Poppins", sans-serif;

  --heading1: 40px;
  --heading2: 15px;
}

body {
  margin: 0;
  background: var(--dm-primary-bg-color);
  overflow-x: hidden;
}
