@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --primary-bg-color: #c8f0f3;
  --secondary-bg-color: #535758;
  --tertiary-bg-color: #299292;
  --quaternary-bg-color: #76b3bf;

  --primary-txt-color: #6cb6c5;
  --secondary-txt-color: #167979;
  --tertiary-txt-color: #0d4b4b;
  --quaternary-txt-color: #ffffff;

  --heading-font: "Poppins", sans-serif;
  --normal-font: "Poppins", sans-serif;

  --heading1: 40px;
  --heading2: 15px;
}

body {
  margin: 0;
  background: var(--dm-primary-bg-color);
  overflow-x: hidden;
}
